---
import Discord from "@/icons/Discord.astro";
import GitHub from "@/icons/GitHub.astro";
import X from "@/icons/X.astro";
import yxsifdev from "@/resources/images/yxsifdev.jpg";
---

<section class="flex justify-between mb-20">
  <div class="flex flex-col gap-y-5">
    <div class="flex justify-between items-center">
      <div
        class="text-xl font-medium text-white/70 hover:text-white transition cursor-pointer"
      >
        yxsif.dev
      </div>
    </div>
    <div class="w-full max-w-2xl">
      <p class="text-white/70">
        Cuento con más de 2 años de experiencia como <span
          class="text-white font-medium">Desarrollador Frontend</span
        >. Actualmente me encuentro siguiendo mi carrera de <span
          class="text-white font-medium">Desarrollo de Software</span
        >. Busco seguir perfeccionando mis habilidades en el mundo de la
        tecnología.
      </p>
    </div>
  </div>
  <img
    src={yxsifdev.src}
    alt="yxsifdevIcon"
    class="hidden md:block size-32 rounded-3xl"
  />
</section>

<!-- <div class="flex items-center gap-2">
  <a href="" class="hover:bg-white/10 p-2 rounded"
    ><X class="text-white/70 transition" /></a
  >
  <a href="" class="hover:bg-white/10 p-2 rounded"
    ><GitHub class="text-white/70 transition" /></a
  >
  <a href="" class="hover:bg-white/10 p-2 rounded"
    ><Discord class="text-white/70 transition" /></a
  >
</div> -->
