---
import ShowPosts from "@/components/home/ShowPosts.astro";
---

<section class="mb-20">
  <div class="flex items-baseline justify-between mb-5">
    <div
      class="text-xl font-medium text-white"
    >
      Publicaciones
    </div>

    <a
      href="posts"
      class="text-xs font-medium text-white/70 hover:text-white transition cursor-pointer"
    >
      Mostrar más...
    </a>
  </div>
  <ShowPosts />
</section>
