---
import allProjects from "@/data/allProjects.json";
---

<div class="grid grid-cols-1 gap-4 overflow-x-hidden">
  {
    allProjects.map((project, index) => (
      <div class="border border-white/10 p-4 rounded-lg hover:bg-white/5 transition cursor-pointer">
        <a
          href={project.url}
          target="_blank"
          class="text-lg font-semibold mb-2 hover:underline"
        >
          {project.name}
        </a>
        <p class="text-sm text-gray-300 my-3">{project.desc}</p>
        <div class="flex flex-wrap gap-2">
          {project.targets.map((tag, tagIndex) => (
            <span class="text-xs text-white/50 border border-white/5 bg-white/5 px-2 py-1 rounded">
              {tag}
            </span>
          ))}
        </div>
      </div>
    ))
  }
</div>
