---
import postList from "@/data/allPosts.json";
---

<div>
  <h1 class="text-2xl font-bold mb-5">Publicaciones</h1>
  <nav class="flex flex-col gap-3">
    {
      postList.map((link, index) => (
        <ul>
          <li>
            <a href={`${index + 1}`} class="text-sm hover:text-yellow-400">
              &gt; {link.name}
            </a>
          </li>
        </ul>
      ))
    }
  </nav>
</div>
