---
import BackHome from "@/components/BackHome.astro";
import ProjectsList from "@/components/projects/ProjectsList";
---

<section class="flex justify-between mb-20">
  <ProjectsList client:load />
  <BackHome />
</section>
