---
import PostsLayout from "@/layouts/PostsLayout.astro";
import Inicio from "@/sections/posts/Inicio.astro";
---

<PostsLayout title="Publicaciones" description="Lista de publicaciones.">
  <main class="mx-auto my-10 max-w-4xl p-4">
    <Inicio />
  </main>
</PostsLayout>
