---
import BackHome from "@/components/BackHome.astro";
import PostsList from "@/components/posts/PostsList";
---

<section class="flex justify-between mb-20">
  <PostsList client:load />
  <BackHome />
</section>
