---
import ProjectsLayout from "@/layouts/ProjectsLayout.astro";
import Inicio from '@/sections/projects/Inicio.astro'
---

<ProjectsLayout title="Proyectos">
  <main class="mx-auto my-10 max-w-4xl p-4">
    <Inicio />
  </main>
</ProjectsLayout>
