---
import Back from "@/icons/Back.astro";
---

<div class="flex justify-end">
  <div
    class="fixed flex flex-wrap justify-center gap-2 z-10 bottom-0 bg-white/5 mb-5 rounded-md backdrop-blur-sm"
  >
    <a
      href="/"
      class="hover:bg-white/10 p-2.5 rounded"><Back /></a
    >
  </div>
</div>
